<h1>OAuth2 Completed 🎉</h1>
<ul>
    <li>Access token:  <%= access_token %></a></li>
    <li><a href="/connect-with-sm-prompt">Connect (prompt=none - should return error)</a></li>
    <li><a href="/protected-request">Protected request</a></li>
</ul>